<div class="video-container">
    <div class="video-wrapper">
      <div id="youtubePlayer"></div>
      <button id="soundToggle" aria-label="Toggle sound">
        <span id="soundOnIcon" class="hidden">🔊</span>
        <span id="soundOffIcon">🔇</span>
      </button>
    </div>
  </div>
  
  <!-- posible integracion con api, pendiente -->